<section class="section about-rest">
  <div class="container">
    <h3 class="visually-hidden">About Restaurant</h3>
    <div class="rest-descript">
      <div class="rest-wrap-text">
        <p class="rest-descript-pre">Amet minim mollit non</p>
        <p class="rest-descript-title">MIMIHO</p>
        <p class="rest-descript-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <picture>
        <source
          srcset="
            ./images/desktop/restaurant/cook.jpg    1x,
            ./images/desktop/restaurant/cook-2x.jpg 2x
          "
          media="(min-width: 1280px)"
          type="image/jpg"
        />
        <source
          srcset="
            ./images/tablet/restaurant/cook.jpg    1x,
            ./images/tablet/restaurant/cook-2x.jpg 2x
          "
          media="(min-width: 1024px)"
          type="images/jpg"
        />
        <source
          srcset="
            ./images/mobile/restoraunt/cook.jpg    1x,
            ./images/mobile/restoraunt/cook-2x.jpg 2x
          "
          media="(min-width: 414px)"
          type="images/jpg"
        />
        <img
          class="chief"
          src="./images/mobile/restoraunt/cook.jpg "
          alt="Chief cook"
        />
      </picture>
    </div>

    <div class="rest-promote">
      <picture>
        <source
          srcset="
            ./images/desktop/restaurant/meat.jpg    1x,
            ./images/desktop/restaurant/meat-2x.jpg 2x
          "
          media="(min-width: 1280px)"
          type="image/jpg"
        />
        <source
          srcset="
            ./images/tablet/restaurant/meat.jpg    1x,
            ./images/tablet/restaurant/meat-2x.jpg 2x
          "
          media="(min-width: 1024px)"
          type="image/jpg"
        />
        <source
          srcset="
            ./images/mobile/restoraunt/ingredient.jpg    1x,
            ./images/mobile/restoraunt/ingredient-2x.jpg 2x
          "
          media="(min-width: 414px)"
          type="image/jpg"
        />
        <img
          class="rest-promote-card"
          src="./images/mobile/restoraunt/ingredient.jpg"
          alt="meat"
        />
      </picture>
      <p class="rest-promote-text rest-descript-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>

    <ul class="list rest-img-wrap">
      <li class="rest-img-item">
        <picture>
          <source
            srcset="
              ./images/desktop/restaurant/working.jpg    1x,
              ./images/desktop/restaurant/working-2x.jpg 2x
            "
            media="(min-width: 1280px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./images/tablet/restaurant/working.jpg     1x,
              ./images/tablet/restaurant/working-@2x.jpg 2x
            "
            media="(min-width: 1024px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./images/mobile/restoraunt/cooking.jpg    1x,
              ./images/mobile/restoraunt/cooking-2x.jpg 2x
            "
            media="(min-width: 414px)"
            type="image./jpg"
          />
          <img
            class="rest-img-cooking"
            src="./images/mobile/restoraunt/cooking.jpg"
            alt="coocking"
          />
        </picture>
      </li>

      <li class="rest-img-item">
        <picture>
          <source
            srcset="
              ./images/desktop/restaurant/meal.jpg    1x,
              ./images/desktop/restaurant/meal-2x.jpg 2x
            "
            media="(min-width: 1280px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./images/tablet/restaurant/meal.jpg    1x,
              ./images/tablet/restaurant/meal-2x.jpg 2x
            "
            media="(min-width: 1024px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./images/mobile/restoraunt/tomatoes.jpg    1x,
              ./images/mobile/restoraunt/tomatoes-2x.jpg 2x
            "
            media="(min-width: 414px)"
            type="image./jpg"
          />
          <img
            class="rest-img-meal"
            src="./images/mobile/restoraunt/tomatoes.jpg"
            alt="tomatoes"
          />
        </picture>
      </li>
    </ul>
    <ul class="list arrow-list">
      <li class="arrow-item">
        <svg class="icon-arrow" width="32" height="32">
          <use href="./images/icons-full.svg#icon-arrow-left"></use>
        </svg>
      </li>
      <li class="arrow-item">
        <svg class="icon-arrow" width="32" height="32">
          <use href="./images/icons-full.svg#icon-arrow-right"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
