<section class="hero hero-rest-overlay">
  <div class="container">
    <h1 lang="en" class="hero-title">MIMIHO</h1>
    <h2 class="hero-type">Ресторанно-готельний комплекс</h2>
    <p class="hero-tagline">СМАК ЖИТТЯ 24/7</p>

    <div class="hero-bottom">
      <address class="hero-address">
        <a
          class="hero-address-link link"
          href="https://goo.gl/maps/QnbdGXvFcmA7h6zF9"
          target="_blank"
          rel="noopener noreferrer nofollow"
          ><svg class="address-icon" width="20" height="20">
            <use href="./images/icons-full.svg#icon-location"></use>
          </svg>
          <span class="address-text"
            >Україна, м. Полтава, вул.&nbsp;Маршала Бірюзова, 15</span
          ></a
        >
      </address>

      <ul class="hero-button-list list">
        <li class="hero-button-list-item">
          <button class="hero-button js-open-modal" data-modal="1" type="button">Забронювати столик</button>
        </li>
        <li class="hero-button-list-item">
          <a class="hero-button link" href="#menu">Переглянути меню</a> 
          <!-- link -->
        </li>
      </ul>
    </div>

    <ul class="hero-sm-list list">
      <li class="hero-sm-list-item">
        <a
          class="hero-sm-link link"
          href="https://www.instagram.com/"
          target="_blank"
          rel="noopener nofollow noreferrer"
        >
          <svg class="hero-sm-icon" width="24" height="24">
            <use href="./images/icons-full.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="hero-sm-list-item">
        <a
          class="hero-sm-link link"
          href="https://www.facebook.com/"
          target="_blank"
          rel="noopener nofollow noreferrer"
        >
          <svg class="hero-sm-icon" width="24" height="24">
            <use href="./images/icons-full.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>

      <li class="hero-sm-list-item">
        <a
          class="hero-sm-link link"
          href="https://web.telegram.org/z/"
          target="_blank"
          rel="noopener nofollow noreferrer"
        >
          <svg class="hero-sm-icon" width="24" height="24">
            <use href="./images/icons-full.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
