<section class="menu-rest" id="menu">
  <div class="container">
    <h2 class="menu-title">МЕНЮ РЕСТОРАНУ</h2>
    <div class="menu-column list">
      <ul class="menu-list-1 list">
        <li class="menu-category"><p>Гарячі страви</p></li>
        <li class="menu-item">
          <p class="menu-item-position sans-margin">
            Борщ з телятини з квасолею
          </p>
        </li>
        <li class="menu-item-about-position">
          <p class="menu-item-describe-position">
            Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
            помідори, зелень, сметана
          </p>
          <p class="menu-item-weight-position">400 г</p>
          <p class="menu-item-price-position">240 грн</p>
        </li>

        <li class="menu-item">
          <p class="menu-item-position">Суп сирний з куркою</p>
        </li>
        <li class="menu-item-about-position">
          <p class="menu-item-describe-position">
            Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень
          </p>
          <p class="menu-item-weight-position">400 г</p>
          <p class="menu-item-price-position">200 грн</p>
        </li>

        <li class="menu-item">
          <p class="menu-item-position">Паста карбонара</p>
        </li>
        <li class="menu-item-about-position">
          <p class="menu-item-describe-position">
            Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
          </p>
          <p class="menu-item-weight-position">350 г</p>
          <p class="menu-item-price-position">430 грн</p>
        </li>

        <li class="menu-item">
          <p class="menu-item-position">Стейк зі свинини</p>
        </li>
        <li class="menu-item-about-position">
          <p class="menu-item-describe-position">
            Свиняча вирізка, спеціі, подається з соусом солодкий чилі та овочами
          </p>
          <p class="menu-item-weight-position">400 г</p>
          <p class="menu-item-price-position">500 грн</p>
        </li>

        <li class="menu-item">
          <p class="menu-item-position">Горбуша в соусі з білого вина</p>
        </li>
        <li class="menu-item-about-position">
          <p class="menu-item-describe-position">
            Ніжна горбуша, вершковий соус на основі білого вина
          </p>
          <p class="menu-item-weight-position">400 г</p>
          <p class="menu-item-price-position">400 грн</p>
        </li>

        <li class="menu-category">
          <p>Гарніри та закуски</p>
        </li>
        <li class="menu-item">
          <p class="menu-item-position sans-margin">Запечені овочі</p>
        </li>
        <li class="menu-item-about-position">
          <p class="menu-item-describe-position">
            Кабачок, перець, помідор, баклажан
          </p>
          <p class="menu-item-weight-position">200 г</p>
          <p class="menu-item-price-position">230 грн</p>
        </li>

        <li class="menu-item">
          <p class="menu-item-position">Картопля фрі</p>
        </li>
        <li class="menu-item-about-position">
          <p class="menu-item-describe-position">Картопля, соус томатний</p>
          <p class="menu-item-weight-position">150 г</p>
          <p class="menu-item-price-position">160 грн</p>
        </li>

        <li class="menu-item">
          <p class="menu-item-position">Картопля по-селянськи</p>
        </li>
        <li class="menu-item-about-position">
          <p class="menu-item-describe-position">
            Картопля, спеції, соус пікантний
          </p>
          <p class="menu-item-weight-position">150 г</p>
          <p class="menu-item-price-position">160 грн</p>
        </li>

        <li class="menu-item">
          <p class="menu-item-position">Хрумкі соління з бочки</p>
        </li>
        <li class="menu-item-about-position">
          <p class="menu-item-describe-position">
            Огірок солений, помідор квашений, квашена капуста, морква
            по-корейські
          </p>
          <p class="menu-item-weight-position">250 г</p>
          <p class="menu-item-price-position">350 грн</p>
        </li>

        <li class="menu-item">
          <p class="menu-item-position">Крильця курячі в медовому соусі</p>
        </li>
        <li class="menu-item-about-position">
          <p class="menu-item-describe-position">
            Крильця курячі, гірчично-медовий соус, подається з морквою, селерою
            і соусом блючиз
          </p>
          <p class="menu-item-weight-position">400 г</p>
          <p class="menu-item-price-position">420 грн</p>
        </li>
      </ul>

      <ul class="menu-list-2 list">
        <li class="menu-category"><p>Салати</p></li>
        <li class="menu-item">
          <p class="menu-item-position sans-margin">Цезар з куркою</p>
        </li>
        <li class="menu-item-about-position">
          <p class="menu-item-describe-position">
            Куряче філе, листя салату, помідори чері, сир пармезан, грінки, соус
            цезар
          </p>
          <p class="menu-item-weight-position">230 г</p>
          <p class="menu-item-price-position">450 грн</p>
        </li>

        <li class="menu-item">
          <p class="menu-item-position">Цезар з креветками</p>
        </li>
        <li class="menu-item-about-position">
          <p class="menu-item-describe-position">
            Тигрові креветки, листя салату, помідори чері, сир пармезан, грінки,
            соус цезар
          </p>
          <p class="menu-item-weight-position">230 г</p>
          <p class="menu-item-price-position">300 грн</p>
        </li>

        <li class="menu-item">
          <p class="menu-item-position">Грецький салат</p>
        </li>
        <li class="menu-item-about-position">
          <p class="menu-item-describe-position">
            Свіжі огірок, помідор, болгарський перець, оливки, сир бринза, листя
            салату, соус
          </p>
          <p class="menu-item-weight-position">230 г</p>
          <p class="menu-item-price-position">280 грн</p>
        </li>

        <li class="menu-item">
          <p class="menu-item-position">М’ясний салат</p>
        </li>
        <li class="menu-item-about-position">
          <p class="menu-item-describe-position">
            Куряче філе або свиняча вирізка, свіжі огірок, помідор, болгарський
            перець, соус ранч
          </p>
          <p class="menu-item-weight-position">230 г</p>
          <p class="menu-item-price-position">300 грн</p>
        </li>
        <li class="menu-category"><p>Десерти</p></li>

        <li class="menu-item">
          <p class="menu-item-position sans-margin">Торт наполеон</p>
          <p class="menu-item-weight-position">230 г</p>
          <p class="menu-item-price-position">300 грн</p>
        </li>
        <li class="menu-item-about-position">
          <p class="menu-item-position">Торт маковий</p>
          <p class="menu-item-weight-position">230 г</p>
          <p class="menu-item-price-position">300 грн</p>
        </li>
        <li class="menu-item">
          <p class="menu-item-position">Тірамісу</p>
          <p class="menu-item-weight-position">120 г</p>
          <p class="menu-item-price-position">260 грн</p>
        </li>

        <li class="menu-category"><p>Напої</p></li>
        <li class="menu-item">
          <p class="menu-item-position sans-margin">Чай чорний/зелений</p>
          <p class="menu-item-weight-position">500 мл</p>
          <p class="menu-item-price-position">100 грн</p>
        </li>
        <li class="menu-item">
          <p class="menu-item-position">Еспресо</p>
          <p class="menu-item-weight-position">30 мл</p>
          <p class="menu-item-price-position">100 грн</p>
        </li>
        <li class="menu-item">
          <p class="menu-item-position">Американо</p>
          <p class="menu-item-weight-position">150 мл</p>
          <p class="menu-item-price-position">100 грн</p>
        </li>
        <li class="menu-item">
          <p class="menu-item-position">Капучино</p>
          <p class="menu-item-weight-position">200 мл</p>
          <p class="menu-item-price-position">160 грн</p>
        </li>
        <li class="menu-item">
          <p class="menu-item-position">Лате</p>
          <p class="menu-item-weight-position">200 мл</p>
          <p class="menu-item-price-position">160 грн</p>
        </li>
      </ul>
    </div>
    <button class="menu-order-btn" type="button">Забронювати столик</button>
  </div>
</section>
