.header {
  width: 100%;
  min-width: 320px;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 16px;
  z-index: 100;
  // transform: translateX(0%);
  @media screen and (max-width: 320px) {
    // transform: translateX(-50vw);
  }

  @media screen and (min-width: 1024px) {
    padding-top: 24px;
  }
}

// .container {
//   justify-content: space-between;

//   @media screen and (min-width: 1280px) {
//     display: flex;
//   }
// }

.logo {
  font-family: 'Film P3';
  font-weight: 700;
  font-size: 36px;
  line-height: calc(39 / 36);
  letter-spacing: 0.3em;
  color: var(--light-color);

  @media screen and (max-width: 380px) {
    font-size: 9.2vw;
  }

  @media screen and (max-width: 335px) {
    font-size: 30.9px;
    line-height: 1.075;
  }

  @media screen and (min-width: 1024px) {
    font-size: 40px;
    line-height: calc(43 / 40);
  }

  @media screen and (min-width: 1280px) {
    width: 127px;
  }
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: 1280px) {
    column-gap: 135px;
  }
}

.header-nav-list {
  display: flex;
  column-gap: 20px;

  @media screen and (max-width: 380px) {
    column-gap: 4vw;
  }

  @media screen and (max-width: 365px) {
    column-gap: 3vw;
  }

  @media screen and (min-width: 1024px) {
    column-gap: 72px;
  }
}

.header-nav-link {
  display: inline-flex;
  align-items: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  padding-top: 9.5px;
  padding-bottom: 9.5px;
  color: var(--last-accent-color);

  @media screen and (max-width: 380px) {
    font-size: 4.2vw;
    padding: 2.3vw 0;
  }

  @media screen and (max-width: 335px) {
    font-size: 14.1;
    padding: 7.73px 0;
  }

  @media screen and (min-width: 1024px) {
    font-size: 20px;
    line-height: 1.2;
  }
}
.header-nav-link:hover,
.header-nav-link:focus,
.header-nav-link:active {
  color: var(--accent-color);
}

.header-nav-item {
  display: flex;
  align-items: center;
  column-gap: 6px;

  @media screen and (max-width: 380px) {
    column-gap: 5px;
  }

  @media screen and (max-width: 335px) {
    column-gap: 4px;
  }

  @media screen and (min-width: 1024px) {
    column-gap: 32px;
  }
}

.header-nav-contact {
  display: inline-flex;
  align-items: center;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  transition: border-color 250ms cubic-bezier(0.65, 0.05, 0.36, 1);

  @media screen and (max-width: 380px) {
    width: 5.8vw;
    padding: 1.25vw 0;
  }

  @media screen and (max-width: 335px) {
    width: 19.4px;
    padding: 4.5px 0;
  }

  @media screen and (min-width: 1024px) {
    border: 1px solid rgba(243, 198, 83, 0.7);
    border-radius: 2px;
    column-gap: 8px;
    padding-right: 8px;
  }
}

.header-nav-contact:hover,
.header-nav-contact:focus,
.header-nav-contact:active {
  background-color: var(--last-accent-color);
  }
  
.header-nav-phone-number {
  display: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  letter-spacing: 0.02em;
  color: var(--light-color);
  @media screen and (min-width: 1024px) {
    display: block;
  }
}

.header-nav-icon {
  fill: var(--accent-color);

  @media screen and (max-width: 380px) {
    width: 5.8vw;
  }

  @media screen and (max-width: 335px) {
    width: 19.4px;
  }
}

.header-social-list {
  display: none;
  column-gap: 20px;
  align-items: center;

  @media screen and (min-width: 1280px) {
    display: flex;
  }
}

.header-social-link-item {
  line-height: 0;
}

.header-social-link-icon {
  display: inline-flex;
  padding-top: 9px;
  padding-bottom: 9px;
  color: rgba(243, 198, 83, 0.7);
  transition: color 250ms cubic-bezier(0.65, 0.05, 0.36, 1),
    transform 250ms cubic-bezier(0.65, 0.05, 0.36, 1);
}

.header-social-link-icon:hover,
.header-social-link-icon:focus,
.header-social-link-icon:active {
  color: var(--accent-color);
}

.header-social-icon {
  fill: currentColor;
  width: 24px;
  height: 24px;
}
@media screen and (min-width: 1280px) {
  .heder-wrap {
    display: flex;
    justify-content: space-between;
  }
}
