/* MODAL - BOOK THE TABLE */

.no-scroll {
  overflow: hidden;
}
.backdrop {
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  z-index: 20;

  transition-property: opacity;
  transition-duration: var(--timing-duration);
  transition-timing-function: var(--timing-function);
}

.modal {
  opacity: 0;
  visibility: hidden;
  z-index: 30;

  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);

  padding: 60px 15px;

  background: var(--main-bkg-color);
  border-radius: 2px;

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform var(--trans-dur) var(--trans-timing-func);
}
@media screen and (min-width: 1024px) {
  .modal {
    padding: 60px;
  }
}
.modal.active,
.backdrop.active {
  opacity: 1;
  visibility: visible;
}

.modal.table {
  width: 712px;
  height: 522px;
}
@media screen and (max-width: 1023.98px) {
  .modal.table {
    width: 414px;
    height: 668px;
  }
}

.modal-close-btn {
  position: fixed;
  right: 16px;
  top: 16px;

  display: flex;
  width: 24px;
  height: 24px;
  padding: 0;

  justify-content: center;
  align-items: center;

  background-color: transparent;
  color: var(--black-color);

  cursor: pointer;
  border: none;

  transition-property: background-color, fill;
  transition-duration: var(--timing-duration);
  transition-timing-function: var(--timing-function);
}
.icon-close {
  display: inline-block;
  fill: currentColor;
}

.modal-form {
  width: 100%;
}

.booking-form-title {
  display: block;
  text-align: center;
  margin-bottom: 40px;

  font-family: 'Times New Roman', serif;
  font-size: 24px;
  line-height: 1.15;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: var(--black-color);
}
@media screen and (min-width: 1024px) {
  .booking-form-title {
    font-size: 40px;
  }
}

.booking-table-form-group {
  margin-bottom: 40px;
}
@media screen and (max-width: 1023.98px) {
  .booking-table-form-field:not(:last-child) {
    display: flex;
    flex-direction: column;
  }
  .booking-table-form-field:not(:last-child) {
    margin-bottom: 20px;
  }
  .booking-table-form-field:nth-child(3) {
    margin-bottom: 17px;
  }
}

@media screen and (min-width: 1024px) {
  .booking-table-form-group {
    display: flex;
    flex-wrap: wrap;
    margin-left: -16px;
    margin-top: -28px;
  }
  .booking-table-form-field {
    width: calc((100% - 2 * 16px) / 2);
    margin-left: 16px;
    margin-top: 28px;
  }
}

.booking-form-label {
  margin-left: 12px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;

  color: var(--last-accent-color);
}
.booking-form-input,
.booking-select-input {
  margin: 0;
  padding: 14px 12px;
  width: 100%;

  background-color: transparent;
  border: 1px solid var(--last-accent-color);
  border-radius: 2px;

  font-family: 'Times New Roman', serif;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.05em;

  color: #808080;

  transition: outline var(--timing-duration) var(--timing-function);
}
@media screen and (min-width: 1024px) {
  .booking-form-input,
  .booking-select-input {
    font-size: 24px;
  }
}

.booking-form-input:focus-visible,
.booking-select-input:focus-visible {
  outline: 1px solid var(--last-accent-color);
}
.booking-form-input-group {
  margin-bottom: 8px;
}

.booking-table-form-button {
  display: inline-block;
  width: 100%;
  padding: 19px 42px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;

  color: var(--light-color);
  background-color: var(--black-color);

  border: 1px solid var(--accent-color);
  border-radius: 2px;

  cursor: pointer;

  transition-property: background-color, color;
  transition-duration: var(--timing-duration);
  transition-timing-function: var(--timing-function);
}
.booking-table-form-button:hover,
.booking-table-form-button:focus {
  color: var(--black-color);
  background-color: var(--accent-color);
}
.select-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  align-items: center;
  justify-content: center;

  background-origin: border-box;
  pointer-events: none;

  color: var(--last-accent-color);
}
@media screen and (min-width: 1024px) {
  .select-icon {
    top: 20px;
    right: 20px;
  }
}
.icon {
  fill: var(--last-accent-color);
}

.booking-table-form-field {
  position: relative;
}

.select-wrapper select {
  appearance: none;
}

/* MODAL - BOOK THE ROOM */

.modal.room {
  width: 712px;
  height: 638px;
}
@media screen and (max-width: 1023.98px) {
  .modal.room {
    width: 414px;
    height: 780px;
  }
}

.booking-room-form-group {
  margin-bottom: 40px;
}
.booking-room-form-field {
  position: relative;
}
@media screen and (max-width: 1023.98px) {
  .booking-room-form-field:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .booking-room-form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    margin-left: -16px;
    margin-top: -28px;
  }
  .booking-room-form-field {
    width: calc((100% - 2 * 16px) / 2);
    margin-left: 16px;
    margin-top: 28px;
  }
  .booking-dates-wrapper {
    display: flex;
    flex-grow: 1;
  }
}

/*  MODAL - PRICE   */

.modal.price {
  width: 712px;
  height: 509px;
}
@media screen and (max-width: 1023.98px) {
  .modal.price {
    width: 414px;
    height: 572px;
  }
}

.price-form-group {
    display: flex;
    flex-direction: column;
  margin-bottom: 40px;
}
.price-form-field {
  position: relative;
}
@media screen and (max-width: 1023.98px) {
  .price-form-field:not(:last-child) {
  margin-bottom: 20px;
}
}

@media screen and (min-width: 1024px) {
  .price-form-group {
    margin-left: -16px;
    margin-top: -20px;
  }
  .price-form-field {
    width: calc((100% - 2 * 16px) / 2);
    margin-left: 16px;
    margin-top: 20px;
  }
  .price-form-wrapper {
    display: flex;
  }
}



