:root {
  --accent-color: #f3c653;
  --last-accent-color: #c79002;

  --black-color: #000000;
  --light-color: #ffffff;
  
  --main-color: #5f5f5f;
  --hotel-main-color: #7a7a7a;
  --dark-color: #494848;
  --light-grey-color: #B4B4B4;
  --grey-color: #828282;

  --main-bkg-color: #FFFDEE;
  --last-bkg-color: #F0ECD6;
  --dark-bkg-color: #0E0C07;

  --btn-bkg-color: rgba(0,0,0,0.4);

  --gradient-bkg: rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65);

  --timing-duration: 250ms;
  --timing-function: ease;
}
