@import './common';
@import './vars';
@import './base';
@import './fonts';

@import './header';

@import './main/hero-main';
@import './main/rest-main';
@import './main/rest-book';
@import './main/hotel-main';
@import './main/hotel-book';
@import './main/contacts';

@import './footer';

@import './restaurant/hero-rest';
@import './restaurant/about-rest';
@import './restaurant/menu-rest';

@import './hotel/hero-hotel';
@import './hotel/double-lux';
@import './hotel/triple';
@import './hotel/double';

@import './room/hero-room';
@import './room/about-room';

@import './modal';

