// about-room section
.amenities {
  background-color: var(--main-bkg-color);
}
.amenities-container {
  max-width: 414px;
  padding: 32px 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .amenities-container {
    max-width: 1024px;
    padding: 48px 15px 48px 15px;
  }
}
@media screen and (min-width: 1280px) {
  .amenities-container {
    max-width: 1280px;
  }
}
.amenities-title {
  margin-bottom: 16px;
  font-family: 'Times New Roman';
  font-size: 32px;
  font-weight: 400;
  line-height: 1.15;
  text-transform: uppercase;
  color: var(--black-color);
}
.amenities-text-subtitle-text {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--hotel-main-color);
}
@media screen and (min-width: 1024px) {
  .amenities-box-text {
    display: flex;
    column-gap: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .amenities-box-text {
    column-gap: 159px;
  }
}
.amenities-text {
  margin-bottom: 16px;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--hotel-main-color);
}
@media screen and (min-width: 1024px) {
  .amenities-text {
    width: 400px;
    margin-bottom: 0px;
  }
}
.amenities-subtitle {
  margin: 32px 0px 16px 0px;
  font-family: "times-new-roman-bold";
  font-size: 24px;
  font-weight: 700;
  line-height: 1.16;
  text-transform: uppercase;
  color: var(--black-color);
}
.amenities-box {
  display: flex;
  flex-direction: column;
  align-items: left;
}
@media screen and (min-width: 1024px) {
  .amenities-box {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 47px;
  }
}
@media screen and (min-width: 1280px) {
  .amenities-box {
    margin-right: 260px;
  }
}
.amenities-btn {
  padding: 20px 42px;
  margin: 16px 0px 20px 0px;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--light-color);
  text-transform: uppercase;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  background-color: var(--black-color);
  cursor: pointer;
}
@media screen and (min-width: 1024px) {
  .amenities-button {
    margin: 40px 0px 32px 0px;
    padding: 18px 37px;
    font-size: 24px;
    width: 434px;
  }
}
.amenities-btn:focus,
.amenities-btn:hover,
.amenities-btn:active {
  background-color: var(--accent-color);
  color: var(--black-color);
}
.amenities-return {
  display: flex;
  align-items: center;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--last-accent-color);
}
.amenities-return:focus,
.amenities-return:hover,
.amenities-return:active {
  color: var(--accent-color);
}
.amenities-icon {
  margin-left: 12px;
  width: 24px;
  height: 24px;
  fill: var(--last-accent-color);
}
.amenities-return:focus .amenities-icon,
.amenities-return:hover .amenities-icon,
.amenities-return:active .amenities-icon {
  fill: var(--accent-color);
}
@media screen and (min-width: 1024px) {
  .amenities-return {
    font-size: 20px;
    line-height: 1.2;
  }
}