<section class="amenities">
  <div class="container amenities-container">
    <h2 class="amenities-title">зручності у номері</h2>
    <p class="amenities-text-subtitle-text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia<br />
      consequat duis enim velit mollit. Exercitation veniam consequat sunt
      nostrud amet.
    </p>
    <ul class="list amenities-list">
      <li class="amenities-item">
        <h3 class="amenities-subtitle">загальні</h3>
        <div class="amenities-box-text">
          <p class="amenities-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p class="amenities-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>
      <li class="amenities-item">
        <h3 class="amenities-subtitle">ванна кімната</h3>
        <div class="amenities-box-text">
          <p class="amenities-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p class="amenities-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>
      <li class="amenities-item">
        <h3 class="amenities-subtitle">спальня</h3>
        <p class="amenities-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </p>
      </li>
      <li class="amenities-item">
        <h3 class="amenities-subtitle">кухня</h3>
        <div class="amenities-box-text">
          <p class="amenities-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
          <p class="amenities-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
        </div>
      </li>
      <li class="amenities-item">
        <h3 class="amenities-subtitle">медіа</h3>
        <p class="amenities-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
      </li>
    </ul>
    <div class="amenities-box">
      <button class="amenities-btn" type="button">оформити бронювання</button>
      <a class="link amenities-return" href="./hotel.html">
        Повернутися до перегляду номерів
        <svg class="amenities-icon">
          <use href="./images/icons.svg#icon-arrow-right"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
