<section class="hero-room hero-room-overlay">
    <div class="container">
        <address class="hero-room-address hid">
            <a class="hero-room-address-link link" href="https://goo.gl/maps/QnbdGXvFcmA7h6zF9" target="_blank"
                rel="noopener noreferrer nofollow">
                <svg class="address-icon">
                    <use href="./images/icons-full.svg#icon-location"></use>
                </svg>
                <span class="address-text">Україна, м. Полтава,<br>вул. Маршала Бірюзова, 15</span>
            </a>
        </address>
        <h2 class="hero-room-title">ДВОМІСНИЙ НОМЕР люкс</h2>
        <p class="room-description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
            officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <div class="hero-room-currents">
            <ul class="hero-room-socail-list list">
                <li class="hero-room-list-item">
                    <a class="hero-room-link link" href="https://www.instagram.com/" target="_blank"
                        rel="noopener nofollow noreferrer">
                        <svg class="hero-room-social-icon" width="24" height="24">
                            <use href="./images/icons-full.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="hero-room-list-item">
                    <a class="hero-room-link link" href="https://www.facebook.com/" target="_blank"
                        rel="noopener nofollow noreferrer">
                        <svg class="hero-room-social-icon" width="24" height="24">
                            <use href="./images/icons-full.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="hero-room-list-item">
                    <a class="hero-room-link link" href="https://web.telegram.org/z/" target="_blank"
                        rel="noopener nofollow noreferrer">
                        <svg class="hero-room-social-icon" width="24" height="24">
                            <use href="./images/icons-full.svg#icon-telegram"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <button class="hero-room-btn js-open-modal" data-modal="3" type="button" >Переглянути ціни</button>
        </div>
    </div>
</section>