<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hero_room</title>
</head>
<body>
    <section class="hero-room">
        <div class="container">
            <!--адреса місця розташування комплексу-->
            <address class="hero-room-address">
                <a class="hero-room-address-link link" 
                    href="https://goo.gl/maps/QnbdGXvFcmA7h6zF9" 
                    target="_blank"
                    rel="noopener noreferrer nofollow">
                    <svg class="address-icon" width="20" height="20">
                        <use href="./images/icons-full.svg#icon-location"></use>
                    </svg>
                    <span class="address-text">Україна, м. Полтава,<br>вул. Маршала Бірюзова, 15</span>
                </a>
            </address>
            <!--Заголовок та опис сторінки-->
            <h2 class="hero-room-title">ДВОМІСНИЙ НОМЕР люкс</h2>
            <p class="room-description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            <!--Соціальни мережі комплексу-->
            <ul class="hero-room-socail-list list visualy-hidden">
                <li class="hero-room-list-item">
                    <a class="hero-room-link link" 
                        href="https://www.instagram.com/" 
                        target="_blank"
                        rel="noopener nofollow noreferrer">
                        <svg class="icon" width="24" height="24">
                            <use href="./images/icons-full.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="hero-room-list-item">
                    <a class="hero-room-link link" 
                        href="https://www.facebook.com/" 
                        target="_blank"
                        rel="noopener nofollow noreferrer">
                        <svg class="icon" width="24" height="24">
                            <use href="./images/icons-full.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="hero-room-list-item">
                    <a class="hero-room-link link" 
                        href="https://web.telegram.org/z/" 
                        target="_blank"
                        rel="noopener nofollow noreferrer">
                        <svg class="icon" width="24" height="24">
                            <use href="./images/icons-full.svg#icon-telegram"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <!--Кнопка переглянути ціни (посилання на модальне вікно)-->
            <button class="btn" type="button">Переглянути ціни</button>
        </div>
    </section>
</body>
</html>