<section class="double-lux">
    <div class="container container-hotel">
        <p class="about">Amet minim mollit non</p>
        <p class="logo-link">MIMIHO</p>
    <h2 class="section-title">ДВОМІСНИЙ НОМЕР люкс</h2>
    <p class="number-description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
        Velit officia consequat duis enim velit mollit. 
        Exercitation veniam consequat sunt nostrud amet.
    </p>
    <img 
        class="apartment" 
        src="./images/mobile/hotel/apartment-mob-1x.jpg" 
        alt="apartment" width="244" height="322"
    />
    <div class="br-blok">
        <img 
        class="hotel-img bed-table" 
        src="./images/mobile/hotel/bed-table.jpg" 
        alt="bed room table" width="74" height="194"
    />
    <img 
        class="hotel-img cup-tea" 
        src="./images/mobile/hotel/cup-tea.jpg" 
        alt="cup of tea" width="194" height="194"
    />
    </div>
    <ul class="icon-arrow">
        <li class="icon-arrow-left">
            <a href="">
                <svg class="slider-icon" width="32" height="32">
                    <use href="./images/icons.svg#icon-arrow-left"></use>
                </svg>
            </a>
        </li>
        <li class="icon-arrow-right">
            <a href="">
                <svg class="slider-icon" width="32" height="32">
                    <use href="./images/icons.svg#icon-arrow-right"></use>
                </svg>
            </a>
        </li>
    </ul>
      <ul class="hotel-button">
        <li class="hotel-button-item">
          <button class="btn first" type="button">Детальніше</button>
        </li>
        <li class="hotel-button-item">
          <button class="btn second" type="button">Переглянути ціни</button>
        </li>
      </ul>
    </div>
</section>
