<section class="double">
    <div class="container container-hotel">
        <p class="about">Amet minim mollit non</p>
        <a class="logo-link" href="./index.html">MIMIHO</a>
    <h2 class="section-title">ДВОМІСНИЙ НОМЕР</h2>
    <p class="number-description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
        Velit officia consequat duis enim velit mollit. 
        Exercitation veniam consequat sunt nostrud amet.
    </p>
    <img 
        class="194" 
        src="./images/mobile/hotel/apartment-mob-1x.jpg" 
        alt="apartment" width="224" height="322"
    />
    <div class="br-blok">
        <img 
        class="hotel-img bed-table" 
        src="./images/mobile/hotel/bed-table.jpg" 
        alt="apartment" width="194" height="194"
    />
    <img 
        class="hotel-img cup-tea" 
        src="./images/mobile/hotel/cup-tea.jpg" 
        alt="apartment" width="194" height="194"
    />
    </div>
    <ul class="icon-arrow">
        <li class="icon-arrow-left">
            <a href="">
                <svg class="slider-icon" width="32" height="32">
                    <use href="./images/icons.svg#icon-arrow-left"></use>
                </svg>
            </a>
        </li>
        <li class="icon-arrow-right">
            <a href="">
                <svg class="slider-icon" width="32" height="32">
                    <use href="./images/icons.svg#icon-arrow-right"></use>
                </svg>
            </a>
        </li>
    </ul>
    <!-- <button class="btn" type="button">Детальніше</button> -->
    <a class="link" href="./room.html">Детальніше</a>
    <button class="btn" type="button">Переглянути ціни</button>
    </div>
</section>