<section class="section-triple-hotel triple-section">
    <!-- container -->
    <div class="container triple-container-hotel">
        <!-- triple-hotel-block -->
        <div class="triple-hotel-block">
            <!-- triple-hotel-info -->
            <div class="triple-hotel-info">
                <p class="triple-text">Amet minim mollit non</p>
                <p class="triple-title">MIMIHO</p>
                <h2 class="triple-sub-title">ТРЬОХМІСНИЙ НОМЕР</h2>
                <p class="triple-sub-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
            <!-- triple-hotel-info -->

            <picture class="triple-apart-picture">
                <source
                srcset="./images/desktop/hotel/apartment-desk-1x.jpg 1x,
                 ./images/desktop/hotel/apartment-desk-2x.jpg 2x"
                media="(min-width: 1280px)"
                />
   
                <source
                srcset="./images/tablet/hotel/apartment-tab-1x.jpg 1x,
                 ./images/tablet/hotel/apartment-tab-2x.jpg 2x"
                media="(min-width: 1024px)"
                />
   
                <source
                srcset="./images/mobile/hotel/apartment-mob-1x.jpg 1x,
                 ./images/mobile/hotel/apartment-mob-2x.jpg 2x"
                media="(min-width: 414px)"
                />
                <img class="triple-apart-img" src="./images/mobile/hotel/apartment-mob-1x.jpg" alt="apartment"/>

            </picture>
        
         
        </div>
        <!-- triple-hotel-block -->

        <!-- trimple-hotel-nav  -->
        <div class="trimple-hotel-nav">
            <!-- reverse-list -->
            <div class="reverse-list">
                <ul class="triple-list-picture-1">
                    <li>
                         <!-- 1 варіант запису фото -->
                        <picture>
                            <source
                            srcset="./images/desktop/hotel/bathroom-elements-self.jpg 1x,
                             ./images/desktop/hotel/bathroom-elements-self.jpg 2x"
                            media="(min-width: 1280px)"
                            />
   
                            <source
                            srcset="./images/tablet/hotel/bathroom-elements-self.jpg 1x,
                             ./images/tablet/hotel/bathroom-elements-self-2x.jpg 2x"
                            media="(min-width: 1024px)"
                            />
   
                            <source
                            srcset="./images/mobile/hotel/bed-table-full.jpg 1x,
                             ./images/mobile/hotel/bed-table-full-2x.jpg 2x"
                            media="(min-width: 414px)"
                            />
                            <img class="trimple-b-t-img" src="./images/mobile/hotel/bed-table-full.jpg"  alt="bed-table"/>
  
                        </picture>
                       
                         
                    </li>
                    <li>
                  
                        <picture>
                            <source
                            srcset="./images/desktop/hotel/cup-tea.jpg 1x,
                             ./images/desktop/hotel/cup-tea-2x.jpg 2x"
                            media="(min-width: 1280px)"
                            />
                           
                            <source
                            srcset="./images/tablet/hotel/cup-tea.jpg 1x, 
                            ./images/tablet/hotel/cup-tea-2x.jpg 2x"
                            media="(min-width: 1024px)"
                            />
   
                            <source
                            srcset="./images/mobile/hotel/cup-tea-half.jpg 1x,
                             ./images/mobile/hotel/cup-tea-half-2x.jpg 2x"
                            media="(min-width: 414px)"
                            />

                            <img class="triple-c-t-img" src="./images/mobile/hotel/cup-tea-half.jpg" 
                             alt="cup-tea" />
 
                        </picture>

                    </li>
                </ul>
           
                <ul class="triple-icon-arrow">
                <li class="triple-icon-arrow-left">
        <a href="">
            <svg class="slider-icon" width="32" height="32">
                <use href="./images/icons.svg#icon-arrow-left"></use>
            </svg>
        </a>
                </li>
                <li class="triple-icon-arrow-right">
        <a href="">
            <svg class="slider-icon" width="32" height="32">
                <use href="./images/icons.svg#icon-arrow-right"></use>
            </svg>
        </a>
                </li>
                </ul>
            </div>
             <!-- reverse-list -->

            <div class="container-buttons">
                <button type="button" class="btn-triple btn-triple-1">Детальніше</button>
                <button type="button" class="btn-triple btn-triple-2">Переглянути ціни</button>
            </div>
        </div>
         <!-- trimple-hotel-nav  -->

    </div>
    <!-- container -->

</section>