<footer class="footer">
    <div class="footer-container container">
        <div class="footer-wraper">
            <a class="logo-footer link" href="/src/index.html">MIMIHO</a>
        </div>
        <div class="footer-nav container">
            <ul class="footer-nav-list list">
                <li class="footer-nav-item">
                    <a class="footer-nav-link link" href="/src/index.html">Головна</a>
                </li>
                <li class="footer-nav-item">
                    <a class="footer-nav-link link" href="/src/hotel.html">Готель</a>
                </li>
                <li class="footer-nav-item">
                    <a class="footer-nav-link link" href="/src/restaurant.html">Ресторан</a>
                </li>
            </ul>
        </div>
        
        <div class="footer-social container">
            <ul class="footer-social-list list">
                <li class="footer-social-item">
                    <a class="footer-social-link-icon link" href="https://www.telegram.com/" target="_blank" rel="nofollow noopener noreferrer">
                        <span class="footer-title">Telegram</span>
                        <svg class="footer-social-icon" width="24" heigth="24">
                            <use href="./images/icons-full.svg#icon-telegram"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-social-item">
                    <a class="footer-social-link-icon link" href="https://www.facebook.com/" target="_blank" rel="nofollow noopener noreferrer">
                        <span class="footer-title">Facebook</span>
                        <svg class="footer-social-icon" width="24" heigth="24">
                            <use href="./images/icons-full.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-social-item">
                    <a class="footer-social-link-icon link" href="https://www.instagram.com/" target="_blank" rel="nofollow noopener noreferrer">
                        <span class="footer-title">Instagram</span>
                        <svg class="footer-social-icon" width="24" heigth="24">
                            <use href="./images/icons-full.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</footer>