<footer>
    <a class="logo-footer link" href="./partials/main/hero-main.html">MIMIHO</a>
    <div class="footer-nav container">
        <ul class="footer-nav-list list">
            <li class="footer-nav-item">
                <a class="footer-nav-link link" href="./partials/main/hero-main.html">Головна</a>
            </li>
            <li class="footer-nav-item">
                <a class="footer-nav-link link" href="./partials/hotel/hero-hotel.html">Готель</a>
            </li>
            <li class="footer-nav-item">
                <a class="footer-nav-link link" href="./partials/restaurant/hero-rest.html">Ресторан</a>
            </li>
        </ul>
    </div>

    <div class="footer-sotial container">
        <ul class="footer-social-list list">
            <li class="footer-social-item">
                <a class="footer-social-link-icon link" href="https://www.telegram.com/"><svg class="footer-social-icon">
                        <use href="./images/icons-full.svg#icon-telegram"></use>
                    </svg>
                </a>
            </li>
            <li class="footer-social-item">
                <a class="footer-social-link-icon link" href="https://www.facebook.com/"><svg class="footer-social-icon">
                        <use href="./images/icons-full.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
            <li class="footer-social-item">
                 <a class="footer-social-link-icon link" href="https://www.instagram.com/"><svg class="footer-social-icon">
                        <use href="./images/icons-full.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>

</footer>