
    <div class=" header-container container">
        <nav class="header-nav">
            <a class="logo link" href="/src/index.html">MIMIHO</a>

                <ul class="header-nav-list list">
                    <li class="header-nav-item">
                        <a class="header-nav-link link" href="/src/restaurant.html">Ресторан</a>
                        <a class="header-nav-contact link" href="tel:0955559533">
                            <svg class="header-nav-icon" width="24" height="24">
                                <use href="./images/icons-full.svg#icon-phone"></use>
                            </svg>
                            <span class="header-nav-phone-number">095 555 95 33</span>
                        </a>
                    </li>
               
                    <li class="header-nav-item">
                        <a class="header-nav-link link" href="/src/hotel.html">Готель</a>
                        <a class="header-nav-contact link" href="tel:0668491089">
                            <svg class="header-nav-icon" width="24" height="24">
                                <use href="./images/icons-full.svg#icon-phone"></use>
                            </svg>
                            <span class="header-nav-phone-number">066 849 10 89</span>
                        </a>
                    </li>
                </ul>
        </nav>

        <ul class="header-social-list list">
            <li class="header-social-link-item">
                <a class="header-social-link-icon link" href="https://www.instagram.com/" target="_blank" rel="nofollow noopener noreferrer">
                    <svg class="header-social-icon" width="24px" heigth="24px">
                        <use href="./images/icons-full.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="header-social-link-item">
                <a class="header-social-link-icon" href="https://www.facebook.com/" target="_blank" rel="nofollow noopener noreferrer">
                    <svg class="header-social-icon" width="24px" heigth="24px">
                        <use href="./images/icons-full.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
            <li class="header-social-link-item">
                <a class="header-social-link-icon" href="https://www.telegram.com/" target="_blank" rel="nofollow noopener noreferrer">
                    <svg class="header-social-icon" width="24px" heigth="24px">
                         <use href="./images/icons-full.svg#icon-telegram"></use>
                     </svg>
                 </a>
            </li>
            </ul>
    </div> 
