<header class="header">
    <div class="container">
        <nav class="header-nav">
            <a class="logo link" href="./main/hero-main.html">MIMIHO</a>
            <div class="header-contacts-first">
                <ul class="header-nav-list list">
                    <li class="header-nav-item">
                        <a class="header-nav-link link" href="./restaurant/hero-rest.html">Ресторан</a>
                    </li>
                    <li class="contacts-header-item">
                        <a class="header-nav-contact link" href="tel:0955559533">095 555 95 33</a>
                    </li>
                </ul>
            </div>
            <div class="header-contacts-second">
                <ul class="header-nav-list list">
                    <li class="header-nav-item">
                        <a class="header-nav-link link" href="./hotel/hero-hotel.html">Готель</a>
                    </li>
                    <li class="contacts-header-item">
                        <a class="header-nav-contact link" href="tel:0668491089">066 849 10 89</a>
                    </li>
                </ul>
            </div>
        </nav>

        <ul class="header-social-list list">
            <li class="header-social-link-item">
                <a class="header-social-link-icon link" href="https://www.instagram.com/"><svg class="header-social-icon">
                        <use href="../images/icons-full.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="header-social-link-item">
                <a class="header-social-link-icon" href="https://www.facebook.com/"><svg class="header-social-icon">
                        <use href="../images/icons-full.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
            <li class="header-social-link-item">
                <a class="header-social-link-icon" href="https://www.telegram.com/"><svg class="header-social-icon">
                         <use href="../images/icons-full.svg#icon-telegram"></use>
                     </svg>
                 </a>
            </li>
            </ul>
    </div> 
    
</header>