.menu-rest {
  min-width: 320px;
padding-top: 32px;
padding-bottom: 32px;
background-color: #F0ECD6;

@media screen and (min-width: 1024px) {
  padding-top: 58px;
  padding-bottom: 40px;
}

@media screen and (min-width: 1280px) {
  padding-bottom: 60px;
}
}

.menu-title {
  font-family: "Times New Roman";
  font-weight: 700;
  font-size: 32px;
  line-height: 1.16;
  color: #000000;

  @media screen and (max-width: 319.98px) {
      font-size: 24.64px;
    }
  
    @media screen and (min-width: 414px) {
      font-size: 32px;
    }
  
}
  


  .menu-column {
      display: block;

  @media screen and (min-width: 1024px) {
      display: flex;
      justify-content: space-between;
      column-gap: 88px;
    }
  
    @media screen and (min-width: 1280px) {
      column-gap: 140px;
    }
  }
  
  .menu-column {
    @media screen and (min-width: 1024px) {
      flex-basis: calc((100% - 88px) / 2);
    }
  
    @media screen and (min-width: 1280px) {
      flex-basis: calc((100% - 140px) / 2);
    }
  }
  
  .menu-column:not(:last-child) {
    @media screen and (max-width: 1023.98px) {
      margin-bottom: 16px;
    }
  }

.menu-category {
  font-family: "Times New Roman";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  margin-top: 16px;
  margin-bottom: 16px;
  color: #000000;

  @media screen and (min-width: 1024px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 24px;
    line-height: 1.16;
    margin-top: 40px;
    margin-bottom: 20px;

  }
}

.menu-item-position {
  max-width: 221px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  color: #000000;

@media screen and (min-width:1024px) {
  max-width: 226px;
}
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.25;
    max-width: 291px;

  }
}



.menu-item-about-position {
  display: flex;
  margin-bottom: 8px;
}


.menu-item {
  display: flex;
  margin-bottom: 4px;
  max-width: 291px;
}


.sans-margin {
  margin-top: 0;
}

.menu-item-describe-position {
  display: block;
  max-width: 225px;
  margin-right: 28px;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #000000;
@media screen and (min-width: 1024px) {
  margin-right: 51px;

}
  @media screen and (min-width: 1280px) {
    margin-bottom: 12px;
    max-width: 282px;
  }
}

.menu-item-weight-position {
  font-family: "Montserrat", sans-serif;
  margin-right: 32px;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  color: #000000;
  margin-left: auto;
  margin-right: 32px;

  @media screen and (max-width: 319.98px) {
      font-size: 10.88px;
    }
  
    @media screen and (min-width: 414px) {
      font-size: 14px;
    }
  
    @media screen and (min-width: 1024px) {
      padding-right: 15px;
    }
    @media screen and (min-width: 1280px) {
      padding-right: 14px;
    }
  }


.menu-item-price-position {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  color: #000000;

@media screen and (max-width: 319.98px) {
  font-size: 10.88px;
}

@media screen and (min-width: 414px) {
  font-size: 14px;
}

@media screen and (min-width: 1280px) {
  font-size: 16px;
  line-height: 1.25;
  max-width: 70px;
}
}
@media screen and (min-width:1024px) {
  .menu-item-position.desert {
    margin-bottom: 11px;
  }
}

.menu-order-btn {
  display: block;
  font-family: "Montserrat";
  font-weight: 700;
  padding: 14px 24px;
  font-weight: 700;
  min-width: 236px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  background: #000000;
  border: 2px solid #fffdee;
  border-radius: 25px;
  color: #f3c653;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
}
  
.menu-order-btn:hover,
.menu-order-btn:focus {
  background: #ffffff;
  border: 2px solid #f3c653;
  border-radius: 25px;
}

@media screen and (min-width: 1024px) {
  .menu-order-btn {
    margin-right: 0;
    margin-top: 41px;
  }
}

@media screen and (min-width: 1280px) {
  .menu-order-btn {
    margin-right: 0;
    margin-top: 32px;
  }
}


