<section class="container">
    <div class="contact">
        <h1 class="h1">contact</h1>
        <p class="contact_mimiho">MIMIHO</p>
        <p class="text_kompleks">Ресторанно-готельний комплекс</p>
        <p class="text_restoran">Ресторан</p>
        <!-- block restoran -->
        <div class="box_res">
            <svg class="img_tel">
                <use href="./images/icons.svg#icon-phone"></use>
            </svg>
            <p class="number_res">095 555 95 33</p>
        </div>
        <!-- Block hotel -->
        <p class="text_hotel">Готель</p>
        <div class="box_hotel">
            <svg class="img_tel">
                <use href="./images/icons.svg#icon-phone"></use>
            </svg>
            <p class="number_hotel_1">066 849 10 89</p>
            <p class="number_hotel_2">067 275 85 40</p>
        </div>
        <!-- block adress -->
        <div class="box_adres">
            <svg class="img_loc">
                <use href="./images/icons.svg#icon-location"></use>
            </svg>
            <p class="text_adres">Україна, м. Полтава,<br> вул. Маршала Бірюзова, 15</p>
        </div>

    </div>
</section>