<section class="contacts-section">
  <div class="container contacts-container">
    <div class="contacts-main-side">
      <h2 class="visually-hidden">contact</h2>
      <p class="rest-main__title contacts">MIMIHO</p>
      <p class="contact-type">Ресторанно-готельний комплекс</p>

      <ul class="contacts-list list">
        <li class="contacts-item">
          <a class="contacts-name-link link" href="./restaurant.html"
            >Ресторан</a
          >

          <div class="contacts-wrapper">
            <a class="contacts-phone-link link" href="tel:0955559533">
              <svg class="contacts-icon" width="24" height="24">
                <use href="./images/icons-full.svg#icon-phone"></use>
              </svg>
              <span>095 555 95 33</span>
            </a>
          </div>
        </li>

        <li class="contacts-item">
          <a class="contacts-name-link link" href="./hotel.html">Готель</a>

          <div class="contacts-wrapper hotel">
            <a class="contacts-phone-link link" href="tel:0668491089">
              <svg class="contacts-icon" width="24" height="24">
                <use href="./images/icons-full.svg#icon-phone"></use>
              </svg>
              <span>066 849 10 89</span>
            </a>
            <a class="contacts-phone-link link" href="tel:0672758540"
              >067 275 85 40</a
            >
          </div>
        </li>

        <li class="contact-item">
          <address class="contacts-wrapper address">
        <a
          class="contacts-address-link link"
          href="https://goo.gl/maps/QnbdGXvFcmA7h6zF9"
          target="_blank"
          rel="noopener noreferrer nofollow"
          ><svg class="contact-address-icon" width="24" height="24">
            <use href="./images/icons-full.svg#icon-location"></use>
          </svg>
          <span class="contacts-address-text">Україна, м. Полтава, вул.&nbsp;Маршала Бірюзова,&nbsp;15</span
          ></a
        >
      </address>
        </li>
      </ul>

      
    </div>

    <iframe
      class="maps_contact"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d82744.5587845461!2d34.48702743016066!3d49.60213447235395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d825e425e6ba6b%3A0xcf3e6bdfb9e4ca82!2z0J_QvtC70YLQsNCy0LAsINCf0L7Qu9GC0LDQstGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCAzNjAwMA!5e0!3m2!1sru!2sua!4v1675013484677!5m2!1sru!2sua"
      width="634"
      height="412"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</section>
