<section class="hotel-main">
  <div class="container">
    <h2 hidden>About our hotel</h2>
    <p class="hotel-main__uppertitle">Amet minim mollit non</p>
    <p class="hotel-main__title">MIMIHO</p>
    <p class="hotel-main__undertitle">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <div class="apartament-img">
      <img
        class="apartament-img_boxshadow"
        src="/src/images/mobile/main/apartament 1x.jpg"
        alt="apartament"
        width="244"
        height="322"
      />
    </div>
    <div class="hotel-hall-flex">
      <p class="hotel-main__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <img
        class="apartament-img_boxshadow"
        src="/src/images/mobile/main/hotel-hall.jpg"
        alt="hotel-hall"
        width="200"
        height="278"
      />
    </div>
    <div class="slider-box">
      <div class="hotel-slider-flex">
        <img
          class="apartament-img_boxshadow"
          src="/src/images/mobile/main/white-towel.jpg"
          alt="white-towel"
          width="65"
          height="245"
        />
        <img
          class="apartament-img_boxshadow"
          src="/src/images/mobile/main/hotel-registration.jpg"
          alt="hotel-registration"
          width="245"
          height="245"
        />
      </div>
    </div>
    <ul class="icon-arrow list">
      <li class="icon-arrow-left">
        <a href="">
          <svg class="slider-icon" width="32" height="32">
            <use href="./images/icons.svg#icon-arrow-left"></use>
          </svg>
        </a>
      </li>
      <li class="icon-arrow-right">
        <a href="">
          <svg class="slider-icon" width="32" height="32">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
