<section class="details-hotel section">
  <div class="container">
    <div class="details-hotel__desc desc">
      <p class="desc__logo">Mimiho</p>
      <h2 class="desc__title">Готель</h2>
      <p class="desc__lead text-align">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <div class="interactiv-wrap">
      <div class="slider-wrap">
        <div class="slider-left">
          <div class="slider-left__item">
            <picture>
              <source
                srcset="
                  ./images/desktop/hotel/.webp 1x,
                  ./images/desktop/.webp       2x
                "
                type="image/webp"
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/desktop/hotel/bgc-hotel@1x.jpg  1x,
                  ./images//desktop/hotel/bgc-hotel@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="./images/.webp 1x, ./images/ 2x"
                type="image/webp"
                media="(min-width: 1024px)"
              />
              <source
                srcset="./images/jpg 1x, ./images/ 2x"
                media="(min-width: 1024px)"
              />
              <source
                srcset="./images/ 1x, ./images/.webp 2x"
                type="image/webp"
                media="(min-width: 414px)"
              />
              <source
                srcset="./images/.jpg 1x, ./images/ 2x"
                media="(min-width: 414px)"
              />

              <img
                src="./images//desktop/.jpg"
                alt="Стейк рібай"
                height="270"
              />
            </picture>
          </div>
          <div class="slider__item">
            <picture>
              <source
                srcset="./images/ 1x, ./images/ 2x"
                type="image/webp"
                media="(min-width: 1280px)"
              />
              <source
                srcset="./images/ 1x, ./images/ 2x"
                media="(min-width: 1280px)"
              />
              <source
                srcset="./images/ 1x, ./images/ 2x"
                type="image/webp"
                media="(min-width: 1024px)"
              />
              <source
                srcset="./images/ 1x, ./images/ 2x"
                media="(min-width: 1024px)"
              />
              <source
                srcset="./images/ 1x, ./images/ 2x"
                type="image/webp"
                media="(min-width: 414px)"
              />
              <source
                srcset="./images/ 1x, ./images/ 2x"
                media="(min-width: 414px)"
              />

              <img src="./images/desktop/" alt="Стейк рібай" height="270" />
            </picture>
          </div>
          <div class="slider__item">
            <picture>
              <source
                srcset="./images//desktop/ 1x, ./images//desktop/ 2x"
                type="image/webp"
                media="(min-width: 1280px)"
              />
              <source
                srcset="./images/ 1x, ./images/ 2x"
                media="(min-width: 1280px)"
              />
              <source
                srcset="./images/ 1x, ./images/ 2x"
                type="image/webp"
                media="(min-width: 1024px)"
              />
              <source
                srcset="./images/ 1x, ./images/ 2x"
                media="(min-width: 1024px)"
              />
              <source
                srcset="./images/ 1x, ./images/ 2x"
                type="image/webp"
                media="(min-width: 414px)"
              />
              <source
                srcset="./images/ 1x, ./images/ 2x"
                media="(min-width: 414px)"
              />

              <img src="./images/desktop/" alt="Стейк рібай" height="270" />
            </picture>
          </div>
        </div>
        <div class="slider-left__arrows"></div>
      </div>
      <div class="btn-wrap">
        <button class="btn reserv-room" type="button" data-modal-open-room>
          Забронювати номер
        </button>
        <a class="link-btn link view-price" href="./hotel.html"
          >Переглянути ціни</a
        >
      </div>
    </div>
  </div>
</section>
