<section class="hotel-main">
    <div class="container">
        <div class="hotel-main-titlebox">
            <p class="hotel-main__uppertitle">Amet minim mollit non</p>
            <h2 class="hotel-main__title">MIMIHO</h2>
            <p class="hotel-main__undertitle">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                Velit
                officia consequat duis enim velit
                mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
        <img src="../src/images/mobile/main/apartament.jpg" alt="apartament" width="244" height="322">
        <p class="hotel-main__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
            officia
            consequat duis enim velit
            mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <img src="../src/images/mobile/main/hotel-hall.jpg" alt="hotel-hall" width="200" height="278">
        <ul class="list">
            <li></li>
            <li>
                <img src="../src/images/mobile/main/hotel-registration.jpg" alt="hotel-registration" width="245"
                    height="245">
            </li>
        </ul>
    </div>

</section>