<section class="rest-main">
  <div class="container">
    <div class="rest-wrap-1">
      <div class="text-rest-wrap">
        <h2 hidden>About our hotel</h2>
        <p class="rest-main__uppertitle">Amet minim mollit non</p>
        <p class="rest-main__title">MIMIHO</p>
        <p class="rest-main__undertitle">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <picture class="rest-main-pic-1">
        <source
          media="(min-width: 1280px)"
          srcset="
            /src/images/desktop/main/interier.jpg    1x,
            /src/images/desktop/main/interier-2x.jpg 2x
          "
        />
        <source
          media="(min-width: 1024px)"
          srcset="
            /src/images/tablet/main/interier.jpg    1x,
            /src/images/tablet/main/interier-2x.jpg 2x
          "
        />
        <source
          media="(max-width: 1023px)"
          srcset="
            /src/images/mobile/main/interier.jpg    1x,
            /src/images/mobile/main/interier-2x.jpg 2x
          "
        />
        <img
          class="interier-img"
          src="/src/images/mobile/main/interier.jpg"
          alt="interier"
          loading="lazy"
        />
      </picture>
    </div>
    <div class="restaurant-flex">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            /src/images/desktop/main/restaurant-interier.jpg    1x,
            /src/images/desktop/main/restaurant-interier-2x.jpg 2x
          "
        />
        <source
          media="(min-width: 1024px)"
          srcset="
            /src/images/tablet/main/restaurant-interier.jpg    1x,
            /src/images/tablet/main/restaurant-interier-2x.jpg 2x
          "
        />
        <source
          media="(max-width: 1023px)"
          srcset="
            /src/images/mobile/main/restaurant-interier.jpg    1x,
            /src/images/mobile/main/restaurant-interier-2x.jpg 2x
          "
        />
        <img
          class="interier-img-big"
          src="/src/images/mobile/main/restaurant-interier.jpg"
          alt="restaurant-interier"
          loading="lazy"
        />
      </picture>
      <p class="rest-main__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="slider-wrap">
      <div class="rest-slider-flex">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /src/images/desktop/main/bar.jpg    1x,
              /src/images/desktop/main/bar-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 1024px)"
            srcset="
              /src/images/tablet/main/bar.jpg    1x,
              /src/images/tablet/main/bar-2x.jpg 2x
            "
          />
          <source
            media="(max-width: 1023px)"
            srcset="
              /src/images/mobile/main/bar.jpg    1x,
              /src/images/mobile/main/bar-2x.jpg 2x
            "
          />
          <img
            class="rest-img_1"
            src="/src/images/mobile/main/bar.jpg"
            alt="bar"
            loading="lazy"
          />
        </picture>
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /src/images/desktop/main/lanch.jpg    1x,
              /src/images/desktop/main/lanch-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 1024px)"
            srcset="
              /src/images/tablet/main/lanch.jpg    1x,
              /src/images/tablet/main/lanch-2x.jpg 2x
            "
          />
          <source
            media="(max-width: 1023px)"
            srcset="
              /src/images/mobile/main/lanch.jpg    1x,
              /src/images/mobile/main/lanch-2x.jpg 2x
            "
          />
          <img
            class="rest-img_2"
            src="/src/images/mobile/main/lanch.jpg"
            alt="lanch"
            loading="lazy"
          />
        </picture>
      </div>
      <ul class="arrow-list list">
        <li class="icon-arrow-left">
          <a href="">
            <svg class="slider-icon" width="32" height="32">
              <use href="./images/icons.svg#icon-arrow-left"></use>
            </svg>
          </a>
        </li>
        <li class="icon-arrow-right">
          <a href="">
            <svg class="slider-icon" width="32" height="32">
              <use href="./images/icons.svg#icon-arrow-right"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
