<section class="section rest-main">
  <div class="container">
    <h3 class="visually-hidden">Restaurant</h3>
    <div class="description">
      <p class="description-pre">Amet minim mollit non</p>
      <p class="=description-title">MIMIHO</p>
      <p class="description-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <picture>
      <sourse
        srcset="./images/tablet/main/interier.jpg 1x,
        ./images/tablet/main/interier.jpg 2x
      "
        media="(min-width: 1280px)"
        type="image/jpg"
      ></sourse>

      <sourse
        srcset="./images/tablet/main/interier.jpg 1x,
      ./images/tablet/main/interier-2x.jpg 2x"
        media="(min-width: 1024px)"
        type="image/jpg"
      >
      </sourse>
      <sourse
        srcset="./images/mobile/main/interier.jpg 1x,
      ./images/mobile/main/interier-2x.jpg 2x"
        media="(min-width: 414px)"
        type="image/jpg"
      >
      </sourse>
      <img
        src="./images/mobile/main/interier.jpg"
        alt="Restaurant"
        class="restaurant"
    /></picture>

    <div class="img-wrap">
      <picture>
        <sourse
          srcset="./images/desktop/main/restaurant-interier.jpg 1x,
        ./images/desktop/main/restaurant-interier-2x.jpg 2x
      "
          media="(min-width: 1280px)"
          type="image/jpg"
        ></sourse>

        <sourse
          srcset="./images/tablet/main/restaurant-interier.jpg 1x,
      ./images/tablet/main/restaurant-interier-2x.jpg 2x"
          media="(min-width: 1024px)"
          type="image/jpg"
        >
        </sourse>
        <sourse
          srcset="./images/mobile/main/restaurant-interier.jpg 1x,
      ./images/mobile/main/restaurant-interier-2x.jpg 2x"
          media="(min-width: 414px)"
          type="image/jpg"
        >
        </sourse>
        <img
          class="rest-interier"
          src="./images/mobile/main/restaurant-interier.jpg"
          alt="Hall"
      /></picture>

      <p class="description-text accent">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>

    <div class="img-items">
      <picture>
        <sourse
          srcset="./images/desktop/main/bar.jpg 1x,
        ./images/desktop/main/bar-2x.jpg 2x
      "
          media="(min-width: 1280px)"
          type="image/jpg"
        ></sourse>

        <sourse
          srcset="./images/tablet/main/bar.jpg 1x,
      ./images/tablet/main/bar-2x.jpg 2x"
          media="(min-width: 1024px)"
          type="image/jpg"
        >
        </sourse>
        <sourse
          srcset="./images/mobile/main/bar.jpg 1x,
      ./images/mobile/main/bar-2x.jpg 2x"
          media="(min-width: 414px)"
          type="image/jpg"
        >
        </sourse>
        <img class="img-item-bar" src="./images/mobile/main/bar.jpg" alt="Bar"
      /></picture>

      <picture>
        <sourse
          srcset="./images/desktope/main/lanch.jpg 1x,
        ./images/desktop/main/lanch-2x.jpg 2x
      "
          media="(min-width: 1280px)"
          type="image/jpg"
        ></sourse>

        <sourse
          srcset="./images/tablet/main/lanch.jpg 1x,
      ./images/tablet/main/lanch-2x.jpg 2x"
          media="(min-width: 1024px)"
          type="image/jpg"
        >
        </sourse>
        <sourse
          srcset="./images/mobile/main/lanch.jpg 1x,
      ./images/mobile/main/lanch-2x.jpg 2x"
          media="(min-width: 414px)"
          type="image/jpg"
        >
        </sourse>
        <img
          class="img-item-lanch"
          src="./images/mobile/main/lanch.jpg"
          alt="Lanch"
      /></picture>
    </div>
  </div>
</section>
