<!-- версія 2 -->
<section class="rest-main">
  <div class="container">
    <h2 hidden>About our hotel</h2>
    <p class="rest-main__uppertitle">Amet minim mollit non</p>
    <p class="rest-main__title">MIMIHO</p>
    <p class="rest-main__undertitle">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <img
      class="interier-img"
      src="/src/images/mobile/main/interier.jpg"
      alt="interier"
    />
    <div class="restaurant-flex">
      <img
        class="interier-img_boxshadow"
        src="/src/images/mobile/main/restaurant-interier.jpg"
        alt="restaurant-interier"
      />
      <p class="rest-main__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="rest-slider-flex">
      <img
        class="rest-img_boxshadow"
        src="/src/images/mobile/main/bar.jpg"
        alt="bar"
      />
      <img
        class="rest-img_boxshadow"
        src="/src/images/mobile/main/lanch.jpg"
        alt="lanch"
      />
    </div>
    <ul class="arrow-list list">
      <li class="icon-arrow-left">
        <a href="">
          <svg class="slider-icon" width="32" height="32">
            <use href="./images/icons.svg#icon-arrow-left"></use>
          </svg>
        </a>
      </li>
      <li class="icon-arrow-right">
        <a href="">
          <svg class="slider-icon" width="32" height="32">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
