.contacts-section {
  padding-top: 36px;
  padding-bottom: 32px;
}
@media screen and (min-width: 1024px) {
  .contacts-section {
    padding-top: 56px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts-section {
    padding-top: 64px;
    padding-bottom: 74px;
  }
}
.contacts-container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .contacts-container {
    flex-direction: row;
  }
}
.contacts-main-side {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1023.98px) {
  .contacts-main-side {
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .contacts-main-side {
    flex-grow:1
  }
}

@media screen and (min-width: 1024px) {
  .rest-main__title.contacts {
margin-bottom: 16px;
}
}
.contact-type {
  margin-bottom: 16px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: var(--hotel-main-color);
}
@media screen and (min-width: 1024px) {
  .contact-type {
    margin-bottom: 52px;
  }
}
@media screen and (min-width: 1280px) {
  .contact-type {
    margin-bottom: 40px;
  }
}

.contacts-item {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 413.98px) {
  .contacts-item {
flex-direction: column;
align-items: start;}
.contacts-item:not(:nth-last-child(-n + 2)) {
  margin-bottom: 16px;
}
.contacts-item:nth-last-child(-n + 2) {
  margin-bottom: 48px;
}

}
@media screen and (min-width: 414px) and (max-width: 1023.98px)  {
  .contacts-item:first-child {
  gap: 20px;
}
.contacts-item:nth-child(2) {
  gap: 52px;
}
}

@media screen and (min-width: 414px) and (max-width: 1279.98px) {
 .contacts-item:not(:last-child) {
  margin-bottom: 16px;
}
}

@media screen and (min-width: 1024px) {
  .contacts-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.contacts-item:nth-child(2) {
  margin-bottom: 48px;
}
}
@media screen and (min-width: 1280px) {
  .contacts-item:not(:last-child) {
  margin-bottom: 24px;
}
.contacts-item:nth-child(2) {
  margin-bottom: 48px;
}
}

.contacts-wrapper {
padding: 9px 7px 7px;

  display: inline-flex;
  align-items: center;
  background-color: var(--light-color);

  border: 0.5px solid var(--accent-color);
  border-radius: 2px;
}
.contacts-wrapper.address {
  display: flex;
}

@media screen and (min-width: 414px) and (max-width: 1023.98px) {
  .contacts-wrapper.address {
    max-width: 262px;
    margin-left: 122px;
   }
}
@media screen and (min-width: 1024px) {
  .contacts-wrapper.address {
     max-width: 285px;
  }
}

.contacts-name-link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--last-accent-color);
}
@media screen and (max-width: 413.98px) {
  .contacts-wrapper.hotel {
min-width: 290px;}
}

@media screen and (min-width: 414px) {
  .contacts-name-link {
    font-size: 20px;
  }
}

.contacts-phone-link {
  min-width: 65px;
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: var(--dark-color);
}
.contacts-address-link {
  display: flex;
  align-items: center;

  font-family: 'Montserrat', sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.25;
letter-spacing: 0.01em;
color: var(--last-accent-color);
}

.contacts-phone-link + .contacts-phone-link {
  margin-left: 12px;
}
.contacts-icon {
  margin-right: 8px;
  fill: var(--last-accent-color);
}




.contact-address-icon {
    flex-shrink: 0;

  margin-right: 10px;
  fill: var(--last-accent-color);
}
.contacts-address-text {
  color: var(--dark-color);

}
.maps_contact {
width: 100%;
height: 220px;
border: 1px solid #BABABA;
box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
border-radius: 2px;
}
@media screen and (min-width: 1024px) {
  .maps_contact {
   width: 535px;
height: 412px;
  }
}
@media screen and (min-width: 1280px) {
  .maps_contact {
   width: 634px;
  }
}
