// HERO

.hero {
  padding-top: 198px;
  padding-bottom: 20px;
}
@media screen and (max-width: 1023.98px) {
  .hero {
    position: relative;
  }
}
@media screen and (min-width: 1024px) {
  .hero {
    padding-top: 188px;
    padding-bottom: 15px;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    padding-top: 164px;
    padding-bottom: 64px;
  }
}

.hero-overlay {
  max-width: 414px;
  min-height: 740px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      var(--gradient-bkg),
      var(--gradient-bkg)
    ),
    url(../images/mobile/main/bgc-main@1x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-overlay {
    background-image: linear-gradient(
        to right,
        var(--gradient-bkg),
        var(--gradient-bkg)
      ),
      url(../images/mobile/main/bgc-main@1x.jpg);
  }
}
/* tablet screen */
@media screen and (min-width: 1024px) {
  .hero-overlay {
    max-width: 1024px;
    min-height: 720px;
    background-image: linear-gradient(
        to right,
        var(--gradient-bkg),
        var(--gradient-bkg)
      ),
      url(../images/tablet/main.tablet/bgc-main@1x.jpg);
  }
}
@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2),
  (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2),
  (min-width: 1024px) and (min-resolution: 192dpi),
  (min-width: 1024px) and (min-resolution: 2dppx) {
  .hero-overlay {
    background-image: linear-gradient(
        to right,
        var(--gradient-bkg),
        var(--gradient-bkg)
      ),
      url(../images/tablet/main.tablet/bgc-main@2x.jpg);
  }
}
/* desk screen  */
@media screen and (min-width: 1280px) {
  .hero-overlay {
    max-width: 1280px;
    min-height: 720px;

    background-image: linear-gradient(
        to right,
        var(--gradient-bkg),
        var(--gradient-bkg)
      ),
      url(../images/desktop/main/bgc-main@1x.jpg);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2),
  (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2),
  (min-width: 1280px) and (min-resolution: 192dpi),
  (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero-overlay {
    background-image: linear-gradient(
        to right,
        var(--gradient-bkg),
        var(--gradient-bkg)
      ),
      url(../images/desktop/main/bgc-main@2x.jpg);
  }
}

.hero-title {
  margin-bottom: 24px;
  text-align: center;

  font-family: 'Film P3', sans-serif;
  font-size: 96px;
  line-height: 1.08;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  /* delete space after last letter */
  text-indent: -0.3em;
  direction: rtl;

  color: var(--light-color);
}
@media screen and (min-width: 1024px) {
  .hero-title {
    margin-bottom: 16px;
    font-size: 128px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-title {
    margin-bottom: 32px;
  }
}

.hero-type {
  margin-bottom: 40px;
  text-align: center;

  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;

  color: var(--light-color);
}
@media screen and (min-width: 1024px) {
  .hero-type {
    margin-bottom: 56px;
    font-size: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-type {
    margin-bottom: 64px;
  }
}

.hero-tagline {
  margin-bottom: 113px;
  text-align: center;

  font-family: 'Times New Roman', serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.16;
  letter-spacing: 0.05em;

  color: var(--light-color);
}
@media screen and (min-width: 1024px) {
  .hero-tagline {
    margin-bottom: 137px;
    font-size: 36px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-tagline {
    margin-bottom: 137px;
  }
}

.hero-bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
@media screen and (max-width: 1023.98px) {
  .hero-bottom {
    margin-bottom: 58px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .hero-bottom {
    margin-bottom: 25px;
  }
}

.hero-address {
  max-width: 210px;

  border: 1px solid rgba(243, 198, 83, 0.7);
  border-radius: 2px;
}
@media screen and (max-width: 1023.98px) {
  .hero-address {
    position: absolute;
    top: 64px;
    right: 15px;
  }
}
@media screen and (min-width: 1024px) {
  .hero-address {
    max-width: 285px;
  }
}

.hero-address-link {
  display: flex;
  align-items: center;
  padding: 8px 5px 8px 6px;

  font-family: var(--font-fam-monserat);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: var(--accent-color);
}
.address-text {
  color: #e5e5e5;
}
.address-icon {
  flex-shrink: 0;
  margin-right: 8px;
  fill: currentColor;
}
@media screen and (min-width: 1024px) {
  .hero-address-link {
    padding: 8px 8px 8px 10px;
    font-size: 16px;
  }
  .address-icon {
    margin-right: 10px;
    width: 24px;
    height: 24px;
  }
}

@media screen and (max-width: 1023.98px) {
  .hero-button-list {
    margin-left: auto;
    margin-right: auto;
  }
  .hero-button-list-item + .hero-button-list-item {
    margin-top: 24px;
  }
}
@media screen and (min-width: 1024px) {
  .hero-button-list {
    display: flex;
    gap: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-button-list {
    gap: 60px;
  }
}

.hero-button {
  display: inline-block;
  padding: 14px 24px;
  min-width: 236px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: inherit;
  line-height: 1.25;
  //   letter-spacing: 0.02em;

  color: var(--accent-color);

  background-color: var(--btn-bkg-color);
  border: 2px solid var(--light-color);
  border-radius: 25px;

  cursor: pointer;

  transition-property: background-color, color, border-color;
  transition-duration: var(--timing-duration);
  transition-timing-function: var(--timing-function);
}
.hero-button.number {
  min-width: 232px;
}
.hero-button:hover,
.hero-button:focus,
.hero-button:active {
  background-color: var(--light-color);
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.hero-sm-list {
  display: flex;
  gap: 20px;
}

.hero-sm-link {
  display: inline-block;
  width: 24px;
  height: 24px;

  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;

  color: rgba(243, 198, 83, 0.7);

  transition: transform var(--timing-duration) var(--timing-function);
}
.hero-sm-link:hover,
.hero-sm-link:focus,
.hero-sm-link:active {
  transform: scale(1.1);
}

.hero-sm-icon {
  fill: currentColor;
}
@media screen and (min-width: 1278.98px) {
  .hero-sm-list {
    display: none;
  }
}
