.rest-main {
  position: relative;
  background-color: var(--main-bkg-color);
  padding: 16px 15px 20px;
}

.description-wrap {
  margin-bottom: 32px;
  @media screen and (min-width: 1024px) {
    transform: translateY(-10%);

    display: flex;
    align-items: center;
    justify-content: fcenter;
  }
}

.description {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-right: 125px;
  margin-bottom: 28px;
}
.description-pre {
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  color: var(----light-grey-color);
}
.description-title {
  font-family: 'Film P3';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.1;
  letter-spacing: 0.3em;
  color: var(--dark-color);
}
.description-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: var(--hotel-main-color);
  @media screen and (min-width: 1024px) {
    font-size: 16px;
    line-height: 20px;
  }
}

.restaurant-wrapper {
  display: flex;
  justify-content: flex-end;
  @media screen and (min-width: 1024px) {
    // display: flex;
  }
}

.restaurant {
  max-width: 100%;
  height: 322px;
  // margin-left: auto;

  @media screen and (min-width: 1024px) {
    max-width: 100%;
    height: 524px;
    transform: translateX(-15%);
  }
}

.img-wrap {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 32px;
  // &:not(:last-child) {
  //   margin-right: 20px;
  // }
  @media screen and (min-width: 1024px) {
    transform: translateY(-20%);

    gap: 48px;
  }
}

.rest-interier {
  max-width: 100%;
  height: 278px;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  @media screen and (min-width: 1024px) {
    max-width: 100%;
    height: 500px;
  }
}

.accent {
  display: block;
  width: 163px;
  height: 120px;
  color: var(--last-accent-color);
  @media screen and (min-width: 1024px) {
    width: 315px;
    height: 122px;
  }
}

.img-items {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 28px;
  @media screen and (min-width: 1024px) {
    margin-bottom: 38px;
  }
}

.img-item {
  &:not(:last-child) {
    margin-right: 25px;
  }

  @media screen and (min-width: 1024px) {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }
}

.img-item-bar {
  max-width: 100%;
  height: 245px;

  @media screen and (min-width: 1024px) {
    max-width: 100%;
    height: 194px;
  }
}

.img-item-lanch {
  max-width: 100%;
  height: 245px;

  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  @media screen and (min-width: 1024px) {
    max-width: 100%;
    height: 194px;
  }
}

.img-items-wrapper {
  @media screen and (min-width: 1024px) {
    transform: translateY(-80%);
  }
}

.arrow-list {
  display: flex;
  justify-content: flex-end;
  gap: 32px;
}

.icon-arrow {
  fill: var(--black-color);
}
